.container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.about {
    max-width: 60%; 
    margin: 0 auto;  
    text-align: justify; 
    line-height: 1.6; 
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .about-text {
        max-width: 80%;
        font-size: 1rem; 
        text-align: left; 
    }
}